* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  background-color: #E7E7E7;
  width: 90%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
}

.mt-1 {
  margin-top: 10px;
}

.app {
  margin: 30px 10px;
}

.about-me {
  background-color: #fff;
  color: #555555;
  padding: 2rem;
  box-shadow: -7px 7px #fca311;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .bio {
  text-align: justify;
} */

.career {
  background-color: #000000;
  color: #fff;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
}

.career h3 {
  font-size: 1.5rem;
}

.career span {
  background-color: #FF9933;
  border-radius: 20px;
  display: flex;
  margin-left: 5px;
  font-size: 1.2rem;
  align-items: center;
}

.social-medias a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 2rem;
  color: #555555;
  background-color: #fff;
  box-shadow: -7px 7px #fca311;
  height: 3rem;
  transition: 0.3s all;
}

.social-medias a:hover {
  box-shadow: -5px 5px #e48f07;
  transform: translate(-5px, 5px);
}

@media (min-width: 768px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  .about-me {
    margin: 0 0 0 2rem;
    max-width: 40rem;
  }

  .social-medias:first-child a {
    margin-top: 0;
  }
}
